@media (max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 238px;
        background-position-x: 31%;
        
        &__text{
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: 343px;
            margin-bottom: 32px;
        }
    }

    .title{
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        width: 343px;
    }

    .game{
        width: 343px;

        &-box{
            max-height: 1221px;
        }

        &__start{
            padding-top: 51px;
            padding-bottom: 85px;
        }

        &__info{
            align-items: center;
        }

        &__title{
            font-size: 32px;
            line-height: 39px;

            &::after{
                content: "";
            }
        }

        &__text{
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }

        &__img{
            margin-top: 64px;
            width: 244;
        }
    }
}