* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(img/bg-top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
}
.top__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF;
  width: 481px;
  margin-bottom: 44px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  align-items: center;
  color: #FFFFFF;
  width: 788px;
  margin-bottom: 32px;
}

.button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  height: 48px;
  width: 234px;
  transition: all 0.3s;
}
.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #9C0332;
  background: #EB443F;
}

.game-box {
  min-height: 556px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.game {
  width: 378px;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: end;
  color: #FFFFFF;
  padding-left: 32px;
  padding-bottom: 32px;
  transition: all 0.4s;
}
.game:hover {
  transform: scale(1.05);
  box-shadow: 0 0 14px #2f67a7;
}
.game-1 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game1.jpg);
}
.game-2 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.jpg);
}
.game-3 {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.jpg);
}
.game__start {
  padding-top: 234px;
  padding-bottom: 234px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.game__start_two {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 239px;
  padding-top: 239px;
}
.game__start_three {
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 10%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, #000915 100%), url(img/bg-bot.jpg), #000915;
  padding-top: 276px;
  padding-bottom: 288px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.game__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 584px;
}
.game__info_bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  align-items: center;
  color: #FFFFFF;
}
.game__title::after {
  content: "!";
}
.game__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF;
}
.game__text_bot {
  width: 1200px;
  text-align: center;
}
.game__img {
  width: 435px;
}
.game__img_gamepad {
  width: 100%;
}

.footer__text {
  height: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 238px;
    background-position-x: 31%;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 343px;
    margin-bottom: 32px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 343px;
  }
  .game {
    width: 343px;
  }
  .game-box {
    max-height: 1221px;
  }
  .game__start {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .game__start_two {
    padding-bottom: 90px;
  }
  .game__info {
    align-items: center;
  }
  .game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .game__title::after {
    content: "";
  }
  .game__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game__text_bot {
    width: 343px;
  }
  .game__img {
    margin-top: 64px;
    width: 244;
  }
}/*# sourceMappingURL=style.css.map */